__pycache__/
*.png
*.ipynb
local_*
*.dat
*.dat.bak
*.bak
cloud_collections/*
cloud_properties/*
!*.gitkeep
analysis_code/*

plots/case/*
plots/cloud_overview_lacros_dacapo/*
plots/collector_alone/*
plots/comparison_number/*
plots/comparison_weighted_legacy/*
plots/day_plots/*
plots/johannes_reference/*
plots/profile_class/*
plots/scatter_overview/*

!plots/ice_hists/*
!plots/collector_alone/*_frac_profiles_ilcr_layered_all.png
!plots/v_timeseries/*
!plots/comparison_weighted/*
**/*.priv.*
!**/*.pub.*
!analysis_code/selection_criteria.py

